<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= @titi %> </p>
<% if @titi ==42 %>
    <p> super, @titi vaut 42 </p>
<%else%>
    <p> Dommage</p>
<% end%>
<% @titi.times do |i|%>
    <p>hello <%= i %></p>
<%end %>